<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-3 col-sm-4">
      <img src="https://image.eveonline.com/Character/{{ charID }}_256.jpg" alt="Character Portrait" class="img-responsive">
    </div>
    <div class="col-md-9  col-sm-8">
      <h2>Call List</h2>
      <pre>
        {{ callList }}
      </pre>
      </table>
    </div>
  </div>
</div>

