<div class="col-md-12">
	<ul class="list-unstyled">
		<li class="pull-right">Home</li>
		<li class="pull-right">Something</li>
		<li class="pull-right">Something2</li>
		<li class="pull-right">Something3</li>
	</ul>
</div>