<html class="fullpagebg">
  <head>
    <link rel="stylesheet" href="static/vendor/bootswatch/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <title>
      Eve Character Sheet
    </title>
  </head>
  <body>
  <div class="container">
    {{> navbar }}
    {{{ body }}}
  </div>
  </body>
  <script src="static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/dist/js/bootstrap-min.js"></script>
</html>